.fotoperfil{
height: 100px;
width: 100px;
margin-left: 400px;
}
.logo{
    height: 100px;
    width: 250px;
}
.info{
    margin-top: -50px;
    margin-left: 500px;
}
.foto1{
    margin-left: 350px;
    height: 300px;
    width: 300px;
    margin-top: 50px;
}
.foto2{
    height: 300px;
    width: 300px;
    margin-left: 750px;
    margin-top: -360px;
}
.buscar{
    margin-left: 300px;
    margin-top: -200px;
    height: 20px;
    width: 500px;
}
.opciones{
    margin-left: 20px;

}
.barra{
    margin-left: 40px;
}